<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<script type="text/javascript" th:fragment="javascript">

		/*implementamos el autocomplete*/
		$(document).ready(function () {
			$("#buscar_producto").autocomplete({

				source: function (request, response) {

					$.ajax({
						url: "/articulo/cargar-productos/" + request.term,   //este sería el path hacie el método del controlador que carga los productos
						dataType: "json",
						data: {
							term: request.term
						},
						success: function (data) {

							response($.map(data, function (item) {

								return {
									value: item.id,
									label: item.nombre,
									precio: item.precio,
								};

							}));
						},
					});
				},
				select: function (event, ui) {
					//$("#buscar_producto").val(ui.item.label);
					
					//antes de crear una línea vamos a preguntar si el producto existe ya en la factura
					if(itemsHelper.hasProducto(ui.item.value)){
						itemsHelper.incrementaCantidad(ui.item.value,ui.item.precio);
						return false; // se retorna para que si el producto existe sólo se incremente y ya, no siga con la ejecución del método
					}
					
					var linea = $("#plantillaItemsFactura").html();  // pasamos el contenido del tbody de la plantilla mediante su id
					
					// se van reemplazando los campos de la plantilla con jquery
					linea = linea.replace(/{ID}/g,ui.item.value);
					linea = linea.replace(/{NOMBRE}/g,ui.item.label);
					linea = linea.replace(/{PRECIO}/g,ui.item.precio);
					
					// luego se cargan en la tabla del formulario mediante el id de esta
					$("#cargarItemProductos tbody").append(linea); // se cargan en el tbody
					itemsHelper.calcularImporte(ui.item.value,ui.item.precio,1); // se usa el objeto creado
					return false;
				}
			});
			
			
			/*
			tenemos que eliominar la plantilla antes de pasar la factura a la BBDD
			*/
			$("form").submit(function(){   // lo que está entre el $ es la etiqueta form del formulario.
				$("#plantillaItemsFactura").remove();
				return;
			});

		});
		
		/*
		creamos un objeto para ayudarnos a hacer varios procesos como eliminar lineas de facturas o
		incrementar la cantidad de un item ya existente en la factura sólo con volver a añadirlo
		también para calcular el total de esa linea multiplicando la cantidad por el precio
		*/
		var itemsHelper = {
			
			calcularImporte: function(id, precio, cantidad){
				
				$("#total_importe" +id).html(parseInt(precio)* parseInt(cantidad));
				
				//cada vez que se cambia una línea hay que volver a calcular el gran total
				this.calcularGranTotal();
			},
			
			/*método para ver si el producto ya existe en la factura, esto nos va a yudar a incrementar la cantidad de ese producto
			en vez de crear una línea repetida*/
			
			hasProducto: function(id){
				var resultado = false;
				$('input[name="item_id[]"]').each(function(){
					if(parseInt(id)== parseInt(this.value)){
						
						resultado = true;
						
					}
				});
				
				return resultado;			
			},
			
			/*
			Método para incrementar la cantidad de la línea existente*/
			incrementaCantidad: function(id, precio){  //no le paso la cantidad porque ya la obtenemos del elemento input cantidad mediante su ID
				
				var cantidad = $("#cantidad_"+id).val() ? parseInt($("#cantidad_"+id).val()) : 0;
				$("#cantidad_"+id).val(++cantidad);
				//cada vez que se incrementa la cantidad de un item en una línea hay que calcular el importe de la línea
				this.calcularImporte(id,precio,cantidad);
				
			},
			
			eliminarLineaFactura: function(id){
				
				$("#row_"+id).remove(); // a traves de Jquery se obtiene el elemento por si id y se elimina
				
				//cada vez que se cambia una línea hay que volver a calcular el gran total
				this.calcularGranTotal();
			},
			
			calcularGranTotal: function(){  // funcion para calcular el valor total de la factura.
				
				var total = 0;
				
				$('span[id^="total_importe"]').each(function(){
					
					total += parseInt($(this).html());
				});
				
				//asignamos el total al gran total del formulario
				$('#gran_total').html(total);
				
			}
		}
	</script>

</body>

</html>