<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4"></div>

	<div class="card border-primary text-center col-md-6 mx-auto">
		<div class="card-header ">Por favor Inicie Sesion</div>
		<div class="card-body d-flex justify-content-center ">
			<form th:action="@{/login}" method="post">

				<!-- ponemos los campos dentro de un div cada uno-->
				<div class="form-group col-sm-12 ">
					<input type="email" name="email" id="email" class="form-control"
						placeholder="Correo Electrónico" autofocus required />
				</div>

				<div class="form-group col-sm-12 my-2">
					<input type="password" name="password" id="password" class="form-control" placeholder="Contraseña" /
						required>
				</div>

				<div class="form-group col-sm-12">
					<input type="submit" class="btn btn-lg btn-primary btn-block my-2" value="Iniciar Sesion/Opina ya" />
				</div>
				

			</form>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>