<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light ">

			<div class="card-header card bg-success text-white " th:text="${titulo}"></div>
			<div class="card-body card bg-success text-white">

				<h4 class="card-title">
					<a sec:authorize="hasRole('ROLE_GESTOR')" class="btn btn-primary btn-xs"
						th:href="@{'/articulo/formulario/'} + ${wiki.id}" th:text="'Crear Articulo'"></a>
				</h4>
				
				<!--mostrará la información de la wiki -->
				<ul class="list-group">
					
					<li class="list-group-item" th:text="'Creada el día: '+${wiki.createAt}"></li>
					<li class="list-group-item" th:text="'Tenemos Los siguientes Articulos:'"></li>
				</ul>

				<!--Dentro de cada wiki se deben ver una lista de todos los articulos asociadas a la wiki -->

				<div th:if="${#lists.isEmpty(wiki.articulos)}" class="alert alert-info my-4"
					th:text="'No hay Articulos asignados en la wiki: '+${wiki.nombre}">
					<!--Esto es para no mostrar la tabla de artículos si la wiki no tiene ningún artículo asignado-->
				</div>



				<table th:if="${not #lists.isEmpty(wiki.articulos)}" class="table table-bordered table-striped my-4">
					<thead class="thead-dark">
						<tr>
							<th>Articulo</th>
							<th>Descripción</th>
							<th>Fecha de creación</th>
							<th>Lee este sinsentido!</th>
							<th sec:authorize="hasRole('ROLE_GESTOR')">Eliminar Articulo</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="articulo: ${wiki.articulos}">

							<td th:text="${articulo.id}"></td>
							<td th:text="${articulo.titulo}"></td>
							<td th:text="${articulo.fechaCreacion}"></td>
							<td><a class="btn btn-primary btn-xs"
									th:href="@{'/articulo/ver/'+${articulo.id}}" th:text="'A ver esta Trola?'"></a></td>
							<td sec:authorize="hasRole('ROLE_GESTOR')"><a class="btn btn-danger btn-xs"
									th:href="@{'/articulo/eliminar/'+${articulo.id}}" th:text="'Eliminar Articulo'"
									onclick="return confirm('¿Estás seguro que deseas eliminar este articulo?');"></td>

						</tr>
					</tbody>
				</table>
			</div>
			<!-- aquí va el link para volver a la vista de los clientes -->
			<a th:href="@{/listar}" class="btn btn-primary btn-xs" th:text="'&laquo; Volver a la lista de Wikis'"></a>
		</div>


	</div>
	<script th:src="@{/js/jquery-3.7.0.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!--<script th:src="@{/js/bootstrap.bundle.min.js}"></script>   esto parece ser que me daba problemas para que se desplegara el boton de log out-->
	<script th:src="@{/js/jquery-ui.min.js}"></script>
</body>

</html>