header{
   

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

body{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   

}

li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}


ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;

}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;

}

h2.center{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
  }

  h3{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
  }

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}
div.container-login{

    align-self: center;
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



button.btn-primary {
   
    --bs-btn-font-weight: 600;
    --bs-btn-color: rgb(248, 251, 252);
    --bs-btn-bg: rgb(99, 176, 206);
    --bs-btn-border-color: rgb(99, 176, 206);
    --bs-btn-hover-color: rgb(255, 255, 255);
    --bs-btn-hover-bg: rgb(99, 176, 206);
 
   
}

button.btn-outline-success{

    --bs-btn-font-weight: 600;
    --bs-btn-color: rgb(248, 251, 252);
    --bs-btn-bg: rgb(99, 176, 206);
    --bs-btn-border-color: rgb(99, 176, 206);
    --bs-btn-hover-color: rgb(255, 255, 255);
    --bs-btn-hover-bg: rgb(99, 176, 206);
    --bs-btn-font-hover-colotr

}