<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layouts/base :: head">
    <title>Wikis</title>
</head>
<body>
<nav th:replace="layouts/base :: nav"></nav>
    <h2 th:fragment="content-title">Wikis</h2>
    <div th:fragment="content">
    <h1>Listado de Wikis</h1>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Fecha de Creación</th>
            <th>Descripción</th>
        </tr>
        <tr th:each="wiki : ${wikis}">
            <td th:text="${wiki.nombre}"></td>
            <td th:text="${wiki.fechaCreacion}"></td>
            <td th:text="${wiki.descripcion}"></td>
        </tr>
    </table>
    </div>
</body>
</html>