<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>



<!--AQUI ES DONDE ESTA LA CHICHA DEL ARTICULO// TENGO QUE:
					- IMPLEMENTAR BOTONES PARA MODIFICAR EL ARTICULO Y SUBIR LA PROPUESTA.
					- PODER EDITAR EL ARTICULO (CONLLEVA QUE EL GESTOR LO PUEDA ESCRIBIR O BORRAR EN CASO TAL)
					- PARA LA VISTA DEBE TENER:
												- EL TITULO
												- ALGUNA IMAGEN ALEATORIA AL LADO DERECHO
												- TEXTO 
												- BOTON DE COLABORAR POR PARTE DEL CUÑADO COLABORADOR
												APARTE DE EL BOTON DE VOLVER A LA LISTA DE LAS WIKIS QUE YA ESTÁ IMPLEMENTADO

-->


<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">

			<div class="card-header h2 text-center text-primary" th:text="${titulo}"></div>
			<div class="card-body">


				

				<ul class="list-group"> <!-- datos de la wiki// lo de my-2 es un margen "m" de 2 en el eje "y"-->
					
					<!--Subtitulo del list group-->
					<li class="list-group-item list-group-item-primary h2 mt-0 mb-0" th:text="'Pertenece a la Wiki: '+${articulo.wiki.nombre}"></li>
					<!--aquí se usa el método toString() de la clase wiki-->
					<li class="list-group-item h5 mt-0 mb-0" th:text="'Redactado por el cuñado: '+${articulo.wiki.email}"></li> <!--aquí debería de poner el nombre del usuario que ha redactado este artículo o el que lo ha modificado-->
					<li class="list-group-item mt-0 mb-0" th:text="' En la gloriosa fecha: '+${articulo.fechaCreacion}"></li>
				</ul>


				

				

				<!--Vamos a crear lo de las observaciones-->
			<div class="card boder-info mb-2">
    			<div class="card-body d-flex flex-row justify-content-between">
       				<div>
            			<p class="card-text" th:text="${articulo.contenido}" th:if="${not #strings.isEmpty(articulo.contenido)}"></p>
            			<h4 class="card-title" th:if="${#strings.isEmpty(articulo.contenido)}" th:text="'El articulo no tiene contenido!!'"></h4>
        			</div>
        		<div class="ml-auto">
            		<img th:src="@{/images/logo.png}" alt="Imagen" class="img-fluid"><!--aqui me puedo crear algún tipo de algoritmo para que la imagen se pase de forma aleatoria dentro del artículo-->
        		</div>
    			</div>
			</div>

				
				<a th:href="@{'/ver/'+${articulo.wiki.id}}" class="btn btn-light btn-xs" th:text="'&laquo; Volver a la lista de Articulos de la Wiki: '+${articulo.wiki.nombre}"></a> <!-- aquí va el link para volver a la vista del cliente con sus facturas-->
				
				
				
				
			</div>
		</div>

	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>